:root {
  --color-light-blue: #95AFBA;
  --color-blue: #3F7CAC;
  --color-laurel: #BDC4A7;
  --color-pale: #D5E1A3;
  --color-mindaro: #E2F89C;
  --color-dark-gray: #333;
  --btn-red: #f60100;
  --btn-dark-blue: #002540;
  --btn-black: #000;
  --btn-blue: #0070f7;
  --color-white: #fff;

}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

h1 {
  color: var(--color-blue);
  text-shadow: -3px -2px 2px var(--color-light-blue);
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}

.props-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.property {
  align-items: center;
  background-color: var(--btn-red);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  min-height: 50px;
  justify-content: center;
  width: 100px;
  padding: 20px;
}

.property p {
  color: var(--color-white);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.content {
  align-items: flex-start;
  background: var(--color-blue);
  bottom: 0;
  color: var(--color-mindaro);
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;
  position: absolute;
  justify-self: flex-start;
  width: 100%;
  gap: 20px;
}

.content__header,
.content__items {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.content__body {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

pre {
  background: var(--color-dark-gray);
  border: 5px solid var(--color-light-blue);
  color: var(--color-white);
  padding: 10px;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}
